@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family:
    "Pretendard Variable",
    "Pretendard",
    -apple-system,
    "BlinkMacSystemFont",
    "system-ui",
    "Roboto",
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "sans-serif";
}

:root {
  --foreground-rgb: 0, 0, 0;
}

body {
  color: rgb(0, 0, 0);
  background: rgb(250, 250, 250);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
